<div class="min-h-[80vh] w-full flex justify-center max-md:px-4">
    <div class="max-w-6xl w-full py-10">
        <div class="flex flex-col gap-10 justify-start items-center">
            <h2 class="text-3xl font-bold text-Red capitalize max-w-xl text-center">
                görüşlerinizle aras kargo'nun Hizmetini şekillendirin
            </h2>
            <p class="text-center max-w-2xl text-DarkBlue">
                <strong>Aras Kargo</strong> olarak, hizmet kalitemizi artırmak için görüşlerinize önem veriyoruz.
                Türkiye’nin dört bir yanından gelen geri bildirimlerle memnuniyet haritasını şekillendiriyoruz. Sizin de
                fikriniz bizim için değerli!
            </p>

            <a class="flex flex-row items-center gap-2 bg-DarkBlue hover:bg-Blue duration-300 text-white px-3.5 py-3 rounded-md cursor-pointer"
                routerLink="/degerlendir">
                <mat-icon aria-hidden="false" aria-label="stars-icon" fontIcon="stars"></mat-icon>

                <span>Bizi Değerlendir</span>
            </a>

            <div id="turkey-map" data-map="districts" data-bg-color="#FFFFFF" data-map-color="#0b3d8b">
            </div>
        </div>
    </div>
</div>